<!--
 * @Description: 
 * @version: 
 * @Company: 烽火通信
 * @Author: yeyifu
 * @Date: 2019-08-07 19:21:21
 * @LastEditors: yeyifu
 * @LastEditTime: 2019-09-19 23:17:38
 -->
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{data.language.__('CompanyProfile')}}</title>
		<link rel="stylesheet" type="text/css" href="/css/common.css" />
		<link rel="stylesheet" type="text/css" href="/css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/index.css" />
		<link rel="stylesheet" type="text/css" href="/css/certify.css" />
		<link rel="stylesheet" type="text/css" href="/css/about.css" />
		<link rel="stylesheet" type="text/css" href="/css/quill.core.css" />
		<link rel="stylesheet" type="text/css" href="/css/quill.snow.css" />
		<link rel="stylesheet" type="text/css" href="/css/quill.bubble.css" />	
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<script src="/js/headerNav.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		{% include "public/header.html" %}
		<div class="aboutBanner">
		   <img src="/img/aboutus.png">
		</div>
        <div class="aboutbox">
			<div class="product about">
				<div class="title">
					<h1>{{data.language.__('about')}}</h1>
					<span></span>
				</div>
               <div class="w1200 briefIntroduction  ql-editor">
					{% autoescape %} {{data.indexData.baseConfig.content}}{% endautoescape %}
				
			   </div>
			   <div class="title">
					<h1>{{data.language.__('HonorCertficate')}}</h1>
					<span></span>
				</div>
                <div class="list bigbox">
                    <div class="lookpic">
						<img src="/img/honor1.png" class="smallimg">
					</div>
					<div class="lookpic">
							<img src="/img/honor2.png" class="smallimg">
					</div>
					<div class="lookpic">
							<img src="/img/honor3.png" class="smallimg">
				    </div>
					<div class="lookpic">
							<img src="/img/honor4.png" class="smallimg">
					</div>
					<img src="" alt="" class="bigimg">
					<div class="mask">
						<img src="/img/close.png" alt="">
					</div>
				</div>        
			</div>
		</div>
		{% include "public/footer.html" %}

<!-- 点击荣誉图的时候，图片弹出 -->
		<script>
				$(".smallimg").click(function(){
				$(".bigimg").attr("src",$(this).attr("src"));
				 $(".bigimg").css("display","block");
				 $(".mask").css("display","block");
				 document.documentElement.style.overflowY = 'hidden'; 
				})
				$(".mask img").click(function(){
				 $(".bigimg").css("display","none");
				 $(".mask").css("display","none");
				 document.documentElement.style.overflowY = 'scroll'; 
				})
				</script>
	</body>

</html>