<!--
 * @Description: 
 * @version: 
 * @Company: 烽火通信
 * @Author: yeyifu
 * @Date: 2019-08-07 19:21:21
 * @LastEditors: yeyifu
 * @LastEditTime: 2019-08-09 18:22:08
 -->
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
		<link rel="stylesheet" type="text/css" href="/css/common.css" />
		<link rel="stylesheet" type="text/css" href="/css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/index.css" />
		<link rel="stylesheet" type="text/css" href="/css/certify.css" />
		<link rel="stylesheet" type="text/css" href="/css/about.css" />
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<script src="/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/headerNav.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		{% include "public/header.html" %}
		<div class="aboutBanner">
				<img src="/img/contact.png">
		</div>
	</body>

</html>