<!--
 * @Description: 
 * @version: 
 * @Company: 烽火通信
 * @Author: yeyifu
 * @Date: 2019-08-07 19:21:21
 * @LastEditors: yeyifu
 * @LastEditTime: 2019-09-04 22:02:32
 -->
<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>{{data.language.__('contact')}}</title>
	<link rel="stylesheet" type="text/css" href="/css/common.css" />
	<link rel="stylesheet" type="text/css" href="/css/swiper.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/index.css" />
	<link rel="stylesheet" type="text/css" href="/css/certify.css" />
	<link rel="stylesheet" type="text/css" href="/css/about.css" />
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="/js/headerNav.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
	{% include "public/header.html" %}
	<div class="aboutBanner">
		<img src="/img/contact.png">
	</div>
	<div class="w1200">	
		<div class="pull-left contactabord">
			<div class="leftsides">
				<div class="contacthead">
						{{data.language.__('contactUs')}}
				</div>
				<div class="box">
					<div class="boxpic">
						<img src="/img/contactChat.png" alt="" />
						<p>	{{data.language.__('contactdesc')}}</p>
					</div>
				</div>
			</div>
			<div class="contact_info">
				<div class="contacthead">
						{{data.language.__('ContactInfo')}}
				</div>
				<ul>
					<li>
						<img src="/img/1.png">{{data.indexData.baseConfig.email}}
					</li>
					<li>
						<img src="/img/2.png">{{data.indexData.baseConfig.mobile}}
					</li>
					<li>
						<img src="/img/3.png">{{data.indexData.baseConfig.website}}
					</li>
				</ul>
			</div>
			<div class="follow_us">
				<div class="contacthead">
						{{data.language.__('followUs')}}
				</div>
				<div class="moreimg">
					<a href="#"> <img src="/img/facebook.png" /></a>
					<a href="#"> <img src="/img/bigG.png" /></a>
					<a href="#"> <img src="/img/gezi.png" /></a>
					<a href="#"> <img src="/img/mobile.png" /></a>
					<a href="#"> <img src="/img/weChat.png" /></a>
				</div>
			</div>
		</div>
		<div class="pull-left contact_right">
			<div class="leftsides">
				<div class="contacthead">
						{{data.language.__('ContactForm')}}
				</div>
				<div class="form">
					<div id="form-signup_v1">
						<div class="field">
							<label for="signup_v1-username">{{data.language.__('Name')}}*</label>
							<div class="ui left labeled input">
								<input id="signup_v1-username" type="text">
							</div>
						</div>

						<div class="field">
							<label for="signup_v1-email">{{data.language.__('Email')}}*</label>
							<div class="ui left labeled input">
								<input id="signup_v1-Email" type="text">
							</div>
						</div>

						<div class="field">
							<label for="signup_v1-password-tel">{{data.language.__('Tel')}}*</label>
							<div class="ui left labeled input">
								<input id="signup_v1-tel" type="tel">
							</div>
						</div>					
						<div class="field">
							<label for="signup_v1-Country">{{data.language.__('Country')}}*</label>
							<div class="ui left labeled input">
								<input id="signup_v1-Country" type="text">
							</div>
						</div>

						<div class="field">
							<label for="signup_v1-message">{{data.language.__('YourMessage')}}*</label>
							<div class="ui left labeled input">
								<textarea id="signup_v1-message" type="text"></textarea>
							</div>
						</div>

						<button id="prefill-signup_v1" type="button" class="ui mini basic button">
								{{data.language.__('sendbtn')}}
						</button>
					</div>
				</div>
			</div>
		</div>
    	<div class="clearfix"></div>
	</div>
	{% include "public/footer.html" %}
</body>

</html>