<!--
 * @Author       : yfye
 * @Date         : 2021-01-11 14:03:04
 * @LastEditors: yfye
 * @LastEditTime: 2021-01-12 20:12:28
 * @FilePath     : \zhenye\views\pages\two.html
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <title>下载页</title>
  </head>

  <body>
    <div class='p10 tc'><a><img height="750" id='im'></a></div><div class="xiazaizs bka tc"><a id="cart">下载证书</a></div>
  </body>
  <!-- 数据渲染 -->
 <!-- 数据渲染 -->
<script src="/js/jquery-1.7.1.min.js"></script>
<script src="http://www.sxhrss-gov.cn//plugins/layer/layer.js"></script>
<script src="/js/draw.js"></script>
<script>

function param(name) {
var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); 
var r = window.location.search.substr(1).match(reg); 
if (r != null) return unescape(r[2]); return null; 
}

  var imgUrl;
  function dataURLtoBlob(dataurl) {
    var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
        bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
    while (n--) {
        u8arr[n] = bstr.charCodeAt(n);
    }
    return new Blob([u8arr], { type: mime });
}
 
function downloadFile(url,name='证书'){
    var a = document.createElement("a")
    a.setAttribute("href",url)
    a.setAttribute("download",name)
    a.setAttribute("target","_blank")
    let clickEvent = document.createEvent("MouseEvents");
    clickEvent.initEvent("click", true, true);  
    a.dispatchEvent(clickEvent);
}
 
function downloadFileByBase64(base64,name){
    var myBlob = dataURLtoBlob(base64)
    var myUrl = URL.createObjectURL(myBlob)
    downloadFile(myUrl,name)
}



  function createToImage(
    canvasId,
    canvasWidth,
    canvasHeight,
    imgSrc,
    imgX,
    imgY,
    imgW,
    imgH,
    imgContainer,
    textStatus,
    txt,
    txtX,
    txtY,
    font,
    color
  ) {
    var canvasHtml =
      '<canvas width="' +
      canvasWidth +
      '" height="' +
      canvasHeight +
      '" id="' +
      canvasId +
      '" hidden="hidden"></canvas>';
    $("body").append(canvasHtml); //创建一个canvas Dom对象
    var canvasObject = getCanvasContext(canvasId);
    canvasObject.clearRect(0, 0, canvasWidth, canvasHeight); //在给定的矩形里清空画布的内容
    var imgI = 0;
    var imgL = imgSrc.length;
    var txtI = 0;
    var txtL = txt.length;
    createImgTocanvas(
      canvasObject,
      imgSrc,
      imgX,
      imgY,
      imgW,
      imgH,
      imgI,
      imgL,
      function () {
        if (textStatus == false) {
          var mycanvas = document.getElementById(canvasId);
          var image = mycanvas.toDataURL("image/png");
          $(imgContainer).attr("src", image);
          imgUrl = image;
        } else {
          createTextTocanvas(
            canvasObject,
            txt,
            txtX,
            txtY,
            font,
            color,
            txtI,
            txtL,
            function () {
              var mycanvas = document.getElementById(canvasId);
              var image = mycanvas.toDataURL("image/png");
              $(imgContainer).attr("src", image);
              imgUrl = image;
              setTimeout(function () {
                $("#" + canvasId).remove();
              }, 500);
            }
          );
        }
      }
    );
  }

  //创建文本绘画
  function createTextTocanvas(
    canvasObject,
    txt,
    x,
    y,
    font,
    color,
    startI,
    length,
    callBack
  ) {
    canvasObject.font = font[startI];
    canvasObject.fillStyle = color[startI];
    canvasObject.fillText(txt[startI], x[startI], y[startI]);
    startI += 1;
    if (startI != length) {
      createTextTocanvas(
        canvasObject,
        txt,
        x,
        y,
        font,
        color,
        startI,
        length,
        callBack
      );
    } else {
      if (typeof callBack == "function") {
        callBack();
      }
    }
  }

  //创建调用getCanvasContext 绘画的上下文
  function getCanvasContext(id) {
    return document.getElementById(id).getContext("2d");
  }

  function createImgTocanvas(
    canvasObject,
    src,
    x,
    y,
    width,
    height,
    startI,
    length,
    callBack
  ) {
    var starImg = new Image();
    starImg.src = src[startI];
    starImg.onload = function () {
      canvasObject.drawImage(
        starImg,
        x[startI],
        y[startI],
        width[startI],
        height[startI]
      );
      //starImg规定要使用的图像、画布或视频。
      //x[startI]在画布上放置图像的 x 坐标位置。
      //y[startI]在画布上放置图像的 y 坐标位置。
      //width[startI]可选。要使用的图像的宽度。（伸展或缩小图像）
      //height[startI]可选。要使用的图像的高度。（伸展或缩小图像）
      startI += 1; //调用完之后+1，调用下一张图片
      if (startI != length) {
        createImgTocanvas(
          canvasObject,
          src,
          x,
          y,
          width,
          height,
          startI,
          length,
          callBack
        );
      } else {
        if (typeof callBack == "function") {
          callBack();
        }
      }
    };
  }

  function toHandle(data) {
    var ims = [ window.location.origin + data.bg,window.location.origin + data.erweima.split('public')[1], window.location.origin + data
      .CertPic,window.location.origin + data.focusPic,
    ];
    var imgXs = [0,110, 440, 530];
    var imgYs = [0,900, 830, 400];
    var imgWs = [800,130, 150, 130];
    var imgHs = [1130,130,150, 170];
    var txts = [data.title + "专业技术职务",
      "任职资格证书", '本证书的相关信息由' + data.unit + '提供。',
      '此证表明持证人具备担任相应专业技术职务的任职资格。', '姓       名:', '性       别:', '出生年月:', '资格名称:', '资格等级:', '专业名称:',
      '批准日期:', '发证单位:', '身份证号:', '证书编号:', '公布文号:', '查询网址:', '在线验证码:',
      data.name, data.sex, data.brithday, data.qualificationsName, data.QualificationLevel, data.major, data
      .ApprovedDate, data.unit,
      data.IDCard, data.CertificateNo, data.PublicationNumber, data.websiteUrl, data.OnVerCode,
      '发证日期 :  ' + data.DateOfIssue
    ];
    var txtXs = [140, 260, 110, 110, 110, 110, 110, 110, 110, 110, 110, 110, 110, 110, 110, 110, 110,
      220, 220, 220, 220, 220, 220, 220, 220, 220, 220, 220, 220, 250, 360
    ];
    var txtYs = [160, 220, 290, 320, 400, 440, 480, 520, 560, 600, 640, 680, 720, 760, 800, 840, 880,
      400, 440, 480, 520, 560, 600, 640, 680, 720, 760, 800, 840, 880, 940
    ];
    var fonts = ["50px bold 微软雅黑", "50px bold 微软雅黑", "23px 微软雅黑", "23px 微软雅黑", ];
    var colors = ["#000", "#000", "#999", "#999", "#000", "#000", "#000", "#000", "#000", "#000", "#000", "#000",
      "#000", "#000", "#000", "#000", "#000",
      "#49494a"
    ];
    createToImage(
      "zscanvas",
      800,
      1130,
      ims,
      imgXs,
      imgYs,
      imgWs,
      imgHs,
      "#im",
      true,
      txts,
      txtXs,
      txtYs,
      fonts,
      colors
    );

  }


  $("#cart").click(function () {
      // 如果浏览器支持msSaveOrOpenBlob方法（也就是使用IE浏览器的时候），那么调用该方法去下载图片
      if (window.navigator.msSaveOrOpenBlob) {
        var bstr = atob(imgUrl.split(',')[1]);
        var n = bstr.length;
        var u8arr = new Uint8Array(n);
        while (n--) {
          u8arr[n] = bstr.charCodeAt(n);
        }
        var blob = new Blob([u8arr]);
        window.navigator.msSaveOrOpenBlob(blob, 'chart-download' + '.' + 'png');
      } else {
              downloadFileByBase64(imgUrl);
      }
    })
  
    $.ajax({
      type: "post",
      url: '/detail',
      data: {id:param('id')},
      datatype: "html",
      success: function (data) {
         toHandle(data.msg)
      }})

</script>
</html>
