<!--
 * @Description: 
 * @version: 
 * @Company: 烽火通信
 * @Author: yeyifu
 * @Date: 2019-08-07 19:21:21
 * @LastEditors: yfye
 * @LastEditTime: 2021-04-11 15:20:10
 -->
<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/css/swiper.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/index.css" />
  <link rel="stylesheet" type="text/css" href="/css/certify.css" />
<!--   <link rel="stylesheet" type="text/css" href="/css/animate.min.css" /> -->
  <link rel="stylesheet" type="text/css" href="/css/about.css" />
  <script src="/js/jquery.min.js"></script>
  <script src="/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>


  <script src="/js/sideBar.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/headerNav.js" type="text/javascript" charset="utf-8"></script>

</head>

<body data-spy="scroll" data-target="#myScrollspy">
  {% include "public/header.html" %}
  <!--banner图开始-->
  <div id="banner">
    <div class="swiper-container">
      <div class="swiper-wrapper">     
        <div class="swiper-slide" style="background: url('/images/myjob.jpg') no-repeat;background-size: 100%;">
          <a  style="display:block;width:100%;height:600px"></a>
        </div>
        <div class="swiper-slide" style="background: url('/images/foundwork.jpg') no-repeat;background-size: 100%;">
          <a  style="display:block;width:100%;height:600px"></a>
        </div>     
      </div>
      <div class="pageinat">
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  {% include "public/footer.html" %}
</body>
<script src="/js/carousel.js" type="text/javascript" charset="utf-8"></script>
</html>
