<!--
 * @Description: 
 * @version: 
 * @Company: 烽火通信
 * @Author: yeyifu
 * @Date: 2019-08-07 19:21:21
 * @LastEditors: yeyifu
 * @LastEditTime: 2019-08-09 18:22:08
 -->
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
		<link rel="stylesheet" type="text/css" href="/css/common.css" />
		<link rel="stylesheet" type="text/css" href="/css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/index.css" />
		<link rel="stylesheet" type="text/css" href="/css/certify.css" />
		<link rel="stylesheet" type="text/css" href="/css/about.css" />
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		
		<script src="/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.js"></script>
		<script src="/js/headerNav.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>
		{% include "public/header.html" %}
		<div class="aboutBanner">
				<img src="/img/newsBanner.png">
		</div>
		<div class="aboutbox">
			<div class="product">
				<div class="title">
					<h1>Corporate News</h1>
					<span></span>
				</div>
				<div class="w1200">
					<div class="newslist">
						<div class="items">
							<a href="">
								<img src="/img/honor3.png" alt="" />
								<div class="text">
									<h5>多功能涂料的选购方法有哪些？</h5>
									<div class="desc">	目前，涂料的性能大多集中在耐擦洗、防霉、抗菌、覆盖细小裂纹等方面，涂料的价格也随着功能的增多而提高。在购买之前，先考虑清楚自己的所需，最贵的不一定对自己有用。比如，有的耐擦洗次数能达到2万多次，有的是3000次，前者的价格自然贵得多，但是，国家规定耐擦洗次数只要达到了1000次就是合格的。</div>
									<div class="time">2019-07-10 23:47</div>
								</div>
							</a>
						</div>
						<div class="items">
							<a href="">
								<img src="/img/honor3.png" alt="" />
								<div class="text">
									<h5>多功能涂料的选购方法有哪些？</h5>
									<div class="desc">	目前，涂料的性能大多集中在耐擦洗、防霉、抗菌、覆盖细小裂纹等方面，涂料的价格也随着功能的增多而提高。在购买之前，先考虑清楚自己的所需，最贵的不一定对自己有用。比如，有的耐擦洗次数能达到2万多次，有的是3000次，前者的价格自然贵得多，但是，国家规定耐擦洗次数只要达到了1000次就是合格的。</div>
									<div class="time">2019-07-10 23:47</div>
								</div>
							</a>
						</div>
						<div class="items">
							<a href="">
								<img src="/img/honor3.png" alt="" />
								<div class="text">
									<h5>多功能涂料的选购方法有哪些？</h5>
									<div class="desc">	目前，涂料的性能大多集中在耐擦洗、防霉、抗菌、覆盖细小裂纹等方面，涂料的价格也随着功能的增多而提高。在购买之前，先考虑清楚自己的所需，最贵的不一定对自己有用。比如，有的耐擦洗次数能达到2万多次，有的是3000次，前者的价格自然贵得多，但是，国家规定耐擦洗次数只要达到了1000次就是合格的。</div>
									<div class="time">2019-07-10 23:47</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		{% include "public/footer.html" %}
	</body>

</html>