<!--
 * @Description: 
 * @version: 
 * @Company: 烽火通信
 * @Author: yeyifu
 * @Date: 2019-08-07 19:21:21
 * @LastEditors: yeyifu
 * @LastEditTime: 2019-09-03 22:38:56
 -->
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{data.title}}</title>
		<link rel="stylesheet" type="text/css" href="/css/common.css" />
		<link rel="stylesheet" type="text/css" href="/css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/index.css" />
		<link rel="stylesheet" type="text/css" href="/css/certify.css" />
		<link rel="stylesheet" type="text/css" href="/css/about.css" />
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		
		<script src="/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.js"></script>
		<script src="/js/headerNav.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>
		{% include "public/header.html" %}
		<div class="aboutBanner">
				<img src="/img/newsBanner.png">
		</div>
		<div class="aboutbox">
			<div class="product">
				<div class="title">
					<h1>Corporate News</h1>
					<span></span>
				</div>
				<div class="w1200">
					<div class="newslist">

							{% for item in data.newCommon.newData.data %}	
						<div class="items">
								<a href="/{{data.lang}}/newdetail/{{item.newsId}}.html">
								<!-- {{item.newsId}} -->
								<img src="{{item.focusPic}}" alt="" />
								<div class="text">
									<h5>{{item.title}}</h5>
									<div class="desc">{{item.des}}</div>
									<div class="time">{{item.time}}</div>
								</div>
							</a>
						</div>
						{% endfor %}
						
					</div>
				</div>
			</div>
		</div>

		{% include "public/footer.html" %}
	</body>

</html>