<!--
 * @Description: 
 * @version: 
 * @Company: 烽火通信
 * @Author: yeyifu
 * @Date: 2019-08-07 19:21:21
 * @LastEditors: yeyifu
 * @LastEditTime: 2019-09-06 00:51:11
 -->
<!doctype html>
<html>

<head>
	<meta charset="utf-8"/>
	<title>{{data.language.__('product')}}</title>
	<link rel="stylesheet" type="text/css" href="/css/common.css" />
	<link rel="stylesheet" type="text/css" href="/css/swiper.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/index.css" />
	<link rel="stylesheet" type="text/css" href="/css/certify.css" />
	<link rel="stylesheet" type="text/css" href="/css/about.css" />
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="/pagejs/kkpager.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="/pagejs/kkpager_blue.css" />
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="/js/headerNav.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
	{% include "public/header.html" %}
	<div class="aboutBanner">
		<img src="/img/productBanner.png">
	</div>

	<div class="productBox w1200">
		<div class="pull-left">
			<!-- 产品栏目 -->
			<div class="productColumn productType">
				<p>{{data.language.__('ProductsCategory')}}</p>
				<ul>
				{% for item in data.productList %}
				<li  {% if data.id==item.productConfig.id %}    class="active" {% endif %}>
					<a href="/{{data.lang}}/product.html?id={{item.productConfig.id}}&&page=1">
						{% if data.lang=='en' %}
					{{item.productConfig.entitle}}
						{% else %}
					{{item.productConfig.title}}
					{% endif %}
					</a>
				</li>
				{% endfor %}
				</ul>
			</div>
			<!-- 热销产品 -->
			<div class="productColumnHot">
				<p>{{data.language.__('HotSale')}}</p>
				<ul>
					{% for item in data.indexData.hotproducts %}
					<li>
						<a href="/{{data.lang}}/productdetail/{{item.productId}}.html">
						<div class="pull-left">
							<img src="{{item.pic}}" />
						</div>
						<div class="pull-left">
							<div class="title">{{item.title}}</div>
							<div class="desc">{{item.des}}</div>
						<!--   <p>$0.89-$2.89<span>/Piece</span></p>
							<p>100 Pieces<span>(Min. Order)</span></p> -->
						</div>
						<div class="clearfix"></div>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="pull-left">
			<div class="productList">
				{%  for item in data.productAll.productData.data %}
				<div class="list">
					<a href="/{{data.lang}}/productdetail/{{item.productId}}.html">
						<div class="productpic">
							<img src="{{item.pic}}" alt="" />
						</div>
						<div class="box">
							<div class="title">{{item.title}}</div>
							<div class="desc">{{item.des}}</div>
						<!-- 	<p>$0.89-$2.89<span>/Piece</span></p>
							<p>100 Pieces<span>(Min Order)</span></p> -->
						</div>
					</a>
				</div>
				{% endfor %}
			
				<div class="clearfix"></div>
			</div>
			<div id="kkpager"></div>
		</div>
		<div class="clearfix"></div>
	</div>

	{% if data.lang=='cn' %}
	<script type="text/javascript">
	function getParameter(name) { 
		var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)"); 
		var r = window.location.search.substr(1).match(reg); 
		if (r!=null) return unescape(r[2]); return null;
	}
	//init
	$(function(){
		var totalPage = "{{data.productAll.productData.totalPages }}";
		var totalRecords = "{{data.productAll.productData.total}} ";;
		var pageNo = getParameter('page')?getParameter('page'):1;
		kkpager.generPageHtml({
			pno : pageNo,
			//总页码
			total : totalPage,
			//总数据条数
			totalRecords : totalRecords,
			//链接前部
			hrefFormer : 'product',
			//链接尾部
			hrefLatter :getParameter('id')?(pageNo?'.html?id='+getParameter('id')+"&&page=":'.html?id='+getParameter('id')):'.html',
				getLink : function(n){	
					return pageNo?(getParameter('id')?(this.hrefFormer + this.hrefLatter+n):this.hrefFormer+".html?page="+n):this.hrefFormer + this.hrefLatter + "?page="+n;
				}	
		,lang: {
				firstPageText			: '首页',
				firstPageTipText		: '首页',
				lastPageText			: '尾页',
				lastPageTipText			: '尾页',
				prePageText				: '上一页',
				prePageTipText			: '上一页',
				nextPageText			: '下一页',
				nextPageTipText			: '下一页',
				totalPageBeforeText		: '共',
				totalPageAfterText		: '页',
				currPageBeforeText		: '当前第',
				currPageAfterText		: '页',
				totalInfoSplitStr		: '/',
				totalRecordsBeforeText	: '共',
				totalRecordsAfterText	: '条数据',
				gopageBeforeText		: '&nbsp;转到',
				gopageButtonOkText		: '确定',
				gopageAfterText			: '页',
				buttonTipBeforeText		: '第',
				buttonTipAfterText		: '页'
			}
		});
	});
	</script>
	{% else %}
	<script type="text/javascript">
		function getParameter(name) { 
			var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)"); 
			var r = window.location.search.substr(1).match(reg); 
			if (r!=null) return unescape(r[2]); return null;
		}
		
		//init
		$(function(){
			var totalPage = "{{data.productAll.productData.totalPages }}";
			var totalRecords = "{{data.productAll.productData.total}} ";;
			var pageNo = getParameter('page');			
			kkpager.generPageHtml({
				pno : pageNo?pageNo:1,
				//总页码
				total : totalPage,
				//总数据条数
				totalRecords : totalRecords,
				//链接前部
				hrefFormer : 'product',
				//链接尾部
				hrefLatter :getParameter('id')?(pageNo?'.html?id='+getParameter('id')+"&&page=":'.html?id='+getParameter('id')):'.html',
				getLink : function(n){	
					return pageNo?(getParameter('id')?(this.hrefFormer + this.hrefLatter+n):this.hrefFormer+".html?page="+n):this.hrefFormer + this.hrefLatter + "?page="+n;
				}	
				,lang				: {
					firstPageText			: 'homepage',
					firstPageTipText		: 'homepage',
					lastPageText			: 'lastpage',
					lastPageTipText			: 'lastpage',
					prePageText				: 'Previouspage',
					prePageTipText			: 'Previouspage',
					nextPageText			: 'nextpage',
					nextPageTipText			: 'nextpage',
					totalPageBeforeText		: 'total',
					totalPageAfterText		: 'page',
					currPageBeforeText		: 'current',
					currPageAfterText		: 'page',
					totalInfoSplitStr		: '/',
					totalRecordsBeforeText	: 'total',
					totalRecordsAfterText	: 'bardata',
					gopageBeforeText		: '&nbsp;goto',
					gopageButtonOkText		: 'sure',
					gopageAfterText			: 'page',
					buttonTipBeforeText		: 'the',
					buttonTipAfterText		: 'page'
				}
			});
		});
		</script>
		{% endif %}

	
	{% include "public/footer.html" %}
</body>

</html>