<!--
 * @Description: 
 * @version: 
 * @Company: 烽火通信
 * @Author: yeyifu
 * @Date: 2019-08-07 19:21:21
 * @LastEditors: yeyifu
 * @LastEditTime: 2019-08-09 18:22:08
 -->
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
		<link rel="stylesheet" type="text/css" href="/css/common.css" />
		<link rel="stylesheet" type="text/css" href="/css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/index.css" />
		<link rel="stylesheet" type="text/css" href="/css/certify.css" />
		<!--<script src="js/jquery-1.7.1.min.js" type="text/javascript"></script>-->
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<script src="/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.js"></script>
		<script src="/js/world.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/headerNav.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=wGmGuhs8gImYDhmwwbBpZSB3nNoi9Agg"></script>
		<script src="/js/map.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="/js/scroll.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body data-spy="scroll" data-target="#myScrollspy">
		{% include "public/header.html" %}
	</body>

</html>