<!--
 * @Description: 
 * @version: 
 * @Company: 烽火通信
 * @Author: yeyifu
 * @Date: 2019-08-07 19:21:21
 * @LastEditors: yeyifu
 * @LastEditTime: 2019-09-06 00:51:23
 -->
<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{data.language.__('product')}}</title>
  <link rel="stylesheet" type="text/css" href="/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/css/swiper.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/index.css" />
  <link rel="stylesheet" type="text/css" href="/css/new.css" />
  <link rel="stylesheet" type="text/css" href="/css/certify.css" />
  <link rel="stylesheet" type="text/css" href="/css/about.css" />
  <link rel="stylesheet" type="text/less" href="/css/quill.core.css" />
  <link rel="stylesheet" type="text/less" href="/css/quill.snow.css" />
  <link rel="stylesheet" type="text/less" href="/css/quill.bubble.css" />	
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/headerNav.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
  {% include "public/header.html" %}
  <div class="aboutBanner">
    <img src="/img/productBanner.png">
  </div>

  <div class="productBox w1200">
    <div class="pull-left">
      <!-- 产品栏目 -->
      <div class="productColumn productType">
        <p>{{data.language.__('ProductsCategory')}}</p>
        <ul>
          {% for item in data.productList %}
          <li>
              <a href="/{{data.lang}}/product.html?id={{item.productConfig.id}}">
               {% if data.lang=='en' %}
              {{item.productConfig.entitle}}
                {% else %}
              {{item.productConfig.title}}
              {% endif %}
            </a>
        </li>
          {% endfor %}
        </ul>
      </div>
      <!-- 热销产品 -->
      <div class="productColumnHot">
        <p>{{data.language.__('HotSale')}}</p>
        <ul>
          {% for item in data.indexData.hotproducts %}
          <li>
            <a href="/{{data.lang}}/productdetail/{{item.productId}}.html">
              <div class="pull-left">
                <img src="{{item.pic}}" />
              </div>
              <div class="pull-left">
                <div class="title">{{item.title}}</div>
                <div class="desc">{{item.des}}</div>
              <!--   <p>$0.89-$2.89<span>/Piece</span></p>
                <p>100 Pieces<span>(Min. Order)</span></p> -->
              </div>
              <div class="clearfix"></div>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="pull-left">
      <div class="productList">
        <div class="wrap showNews">
          <h1 class="title">{{data.productdetail.data.now[0].title}}</h1>
          <div class="mark">
            <span>{{data.language.__('issuedate')}}：{{data.productdetail.data.now[0].time}}</span><span>{{data.language.__('source')}}：{{data.productdetail.data.now[0].author}}</span><span>{{data.language.__('views')}}：{{data.productdetail.data.now[0].view}}</span>
          </div>
          <div style="text-align: center;"><img src="{{data.productdetail.data.now[0].pic}}"
              style="max-width: 400px; margin-bottom: 40px; margin-top: 20px;"></div>
          <div class="showContxt ql-editor">
            {% autoescape %} {{data.productdetail.data.now[0].content}}{% endautoescape %}
          </div>
        </div>
        <div class="link">{{data.language.__('Titlearticle')}}:
          <a
            href="/{{data.lang}}/productdetail/{{data.productdetail.data.now[0].productId}}.html">{{data.productdetail.data.now[0].title}}</a>
        </div>
        <div class="link">{{data.language.__('Articlelabel')}}:
          <a
            href="/{{data.lang}}/productdetail/{{data.productdetail.data.now[0].productId}}.html">{{data.productdetail.data.now[0].keyword}}</a>
        </div>
        <div class="nextpage">
          <p> {{data.language.__('Lastarticle')}}： {% if data.productdetail.data.pre.length>0 %}
            <a
              href="/{{data.lang}}/productdetail/{{data.productdetail.data.pre[0].productId}}.html">{{data.productdetail.data.pre[0].title}}</a>
            {% else %}
            {{data.language.__('nothing')}}
            {% endif %}
          </p>
          <p> {{data.language.__('Nextarticle')}}： {% if data.productdetail.data.next.length>0 %}
            <a
              href="/{{data.lang}}/productdetail/{{data.productdetail.data.next[0].productId}}.html">{{data.productdetail.data.next[0].title}}</a>
            {% else %}
            {{data.language.__('nothing')}}
            {% endif %}

          </p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  {% include "public/footer.html" %}
</body>

</html>
