@charset "utf-8"; 
body {
	padding:0px;
	font-size: 12px;
	font-family: "宋体";
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-image: url("../../../../../ac.lzyaxf.com/images/08.jpg");
	background-repeat: no-repeat;
	background-position: center top;
}
img {
	margin: 0px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
font {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
form{
margin:0px;
padding:0px;



}
.container {
	height: 393px;
	width: 100%;
	max-width: 700px;
	margin-right: auto;
	margin: 80px auto 0;
	background-color: #FFF;
}
.main01 {
	height: 393px;
	width: 26%;
	float: left;
	background-image: url("../picture/cxjm01.jpg");
	background-size: 100% 100%;
	max-width: 227px;
}
.main02 {
	height: 393px;
	width: 26%;
	float: left;
	background-image: url("../picture/cxjm02.jpg");
	background-size: 100% 100%;
	max-width: 166;
}
.main03 {
	height: 393px;
	width: 48%;
	float: left;
	background-image: url("../image/cxjm06.jpg");
	background-repeat: no-repeat;
	padding-top: 113px;
	padding-left: 7px;
	box-sizing: border-box;
	max-width: 307px;
}
.bd {
	color: #0a4d77;
	text-align: left;
	padding-right: 4px;
	height: 45px;
	line-height: 45px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.bd01 {
	background-image: url("../image/cxjm05.jpg");
	background-repeat: no-repeat;
	background-position: left center;
	background-size:contain;
}

.bd02 {
	background-image: url("../image/cxjm07.jpg");
	background-repeat: no-repeat;
	background-position: left center;
}



.top-01231bd {
	height: 18px;
	width: 172px;
	color: #333;
	text-decoration: none;
	margin-top: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-left: 2px;
	outline: none;
}
.top-01231bd01 {
	height: 18px;
	width: 82px;
	color: #939494;
	text-decoration: none;
	margin-top: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-left: 2px;
	margin-left: 0px;
	
	
}