.aboutBanner{width: 100%;min-width: 1200px;}
.aboutBanner img{width: 100%;min-width: 1200px;}
.aboutbox .briefIntroduction{margin-top: 30px;}
.aboutbox .briefIntroduction img{width: 100%;}
.aboutbox .list{display: flex;
    justify-content: space-between;}
/* 荣誉放大图 */
.bigimg{width:700px;position: fixed;left: 0;top: 0; right: 0;bottom: 0;margin:auto;display: none;z-index:9999;border: 10px solid #fff;display:none;}
.mask{position: fixed;left: 0;top: 0; right: 0;bottom: 0;background-color: #000;opacity:0.5;filter: Alpha(opacity=50);z-index: 98;transition:all 1s;display: none}
.bigbox>.imgbox>img{width:100%;}
.imgbox:hover{cursor:zoom-in}
.mask:hover{cursor:zoom-out}
.mask>img{position: fixed;right:10px;top: 10px;width: 60px;}
.mask>img:hover{cursor:pointer}
/* 新闻列表 */
.newslist {
    margin-top: 50px;
    /* border-top: 1px solid #c0c0c0; */
}
.newslist .items {
    padding: 30px 0;
    border-bottom: 1px dashed #c0c0c0;
}
.newslist .items img {
    width: 370px;
    height: 245px;
}
.newslist .items .text {
    float: right;
    padding-right: 45px;
    width: 724px;
    color: #707070;
}
.newslist .items .text h5 {
    font-size: 24px;
    line-height: 2;
    color: #343434;
}
.newslist .items .text .desc {
    padding: 50px 0;
    line-height: 2;
}