/*头部导航*/

.top {
	width: 100%;
	min-width: 1200px;
	border-bottom: 1px solid #DDDDDD;
}

.top .wrap {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	height: 40px;
	line-height: 40px;
}

.top .wrap .welcome {
	color: #595757;
	font-size: 12px;
}

.top .wrap .turnlang img {
	vertical-align: middle;
}

.top .wrap .turnlang a {
	margin-right: 5px;
	transition: 1s;
}
.top .wrap .turnlang a:hover {
color:#d70d19 ;cursor: pointer;
}


.logowrap{width: 1200px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;}
.logowrap .logoimg{display: flex;justify-content: space-between;}
.logowrap .logoimg img{width:100px;}
.logowrap .logoimg h1{color: #d70d19;
    font-size: 24px;
    line-height: 40px;margin-top:4px;font-weight:bold;
    height: 40px;}
.logowrap .logoimg .desc{margin-left: 20px;width: 600px;}

.logowrap .contact{display: flex;justify-content:left;}
.logowrap .contact img{     margin-top: 9px;
}
.contacthead{padding-top:12px;}
.logowrap .contact .phone p{color: #d70d19;
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px;}

.head-v3 {
	position: relative;
	z-index: 100;
	min-width: 1200px;
	width: 100%;
}

.head-v3 .navigation-inner {
	margin: 0 auto;
	width: 980px;
	position: relative
}

.navigation-up {
	height: 60px;
	background: #d70d19;
}

.navigation-up .navigation-v3 {
	float: left;
	/* margin-left: 10px */
}

.navigation-up .navigation-v3 ul {
	float: left
}

.navigation-up .navigation-v3 li {
	float: left;
    font: normal 16px/59px "microsoft yahei";
    color: #fff;
    width: 155px;
    margin: 0 auto;
    text-align: center;
}

.navigation-up .navigation-v3 .nav-up-selected a {
	border-bottom: 4px solid #b5b5b6;
}

.navigation-up .navigation-v3 .nav-up-selected-inpage a {
	border-bottom: 4px solid #b5b5b6;
}

.navigation-up .navigation-v3 li h2 {
	font-weight: 400;
	padding: 0;
	margin: 0;
}

.navigation-up .navigation-v3 li h2 a {
	padding: 0 25px;
	color: #fff;
	display: inline-block;
	height: 56px;
	font-family: microsoft yahei;
	font-size: 16px;
}

.navigation-down-inner dt img {
	width: 140px;
	height: 100px;
}

.navigation-down {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%
}

.navigation-down .nav-down-menu {
	width: 100%;
	margin: 0;
	background: rgba(255, 255, 255, 0.9);
	position: absolute;
	top: 0;
	padding-bottom: 50px;
}

.navigation-down .nav-down-menu .navigation-down-inner {
	margin: 0 auto;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
}

.navigation-down .nav-down-menu dl {
	float: left;
	margin: 18px 80px 18px 0
}

.navigation-down .nav-down-menu dl:last-of-type {
	margin-right: 0
}

.navigation-down .menu-1 dl {
	margin: 20px 80px 25px 0
}

.navigation-down .menu-1 dt {
	font: 16px microsoft yahei;
	color: #61789e;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px
}

.navigation-down .menu-1 dd a {
	color: #333;
	font: normal 14px/30px "microsoft yahei"
}

.navigation-down .menu-1 dd a:hover {
	color: #d70d19
}

.navigation-down .menu-2 dd a,
.navigation-down .menu-3 dd a {
	color: #fff;
	font: 16px microsoft yahei
}

#banner .swiper-container {
	width: 100%;
	min-width: 1200px;
}

#banner .swiper-slide {
	height: 500px;
	background-size: cover;
	width: 100%;
	min-width: 1200px;
}

#banner .swiper-button-prev,
#banner .swiper-button-next {
	/*top: 300px;*/
}

#banner .swiper-pagination {
	width: 100%;
	bottom: 50px;
}

#banner .pageinat {
	position: absolute;
	z-index: 9999;
	left: 0;
	right: 0;
	text-align: center;
	width: 100%;
}

#banner .pageinat .swiper-pagination-bullet {
	width: 180px;
	height: 4px;
	margin-right: 30px;
	opacity: 0.8;
	border-radius: 0;
	background-color: #FFFFFF;
}

#banner .pageinat .swiper-pagination-bullet-active {
	background-color: #d70d19;
}

#certify .swiper-slide-active p {
	color: #d70d19!important;
	font-size: 22px!important;
}

#certify .swiper-button-next,
#certify .swiper-button-prev {
	top: 40%!important;
}


/*产品列表部分*/

.product {
	width: 1200px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.product .title {
	text-align: center;
}

.product .title h1 {
	font-size: 28px;
	text-align: center;
}

.product span {
	display: inline-block;
	width:50px;
	height: 1px;
	background-color: #d70d19;
}

.product .list .item {
	float: left;
	margin-right: 10px;
	margin-bottom: 30px;
	text-align: center;
}

.product .list .item:nth-child(4n) {
	margin-right: 0;
}

.product .list .itembox {
	padding: 10px;
	border: 1px solid #ddd;
	width: 270px;
	overflow: hidden;
	height: 198px;
}

.product .list .itembox img {
	transition: 1s;
}

.product .list .itembox:hover img {
	transform: scale(1.2);
}

.product .list {
	margin-top: 50px;
}

.product .list .item p {
	font-size: 16px;
	color: #000;
	margin-top: 10px;
}

.product .list .item:hover a p {
	color: #d70d19;
}

.product .list .itembox img {
	width: 100%;
	height: 100%;
}

.news .items {
	margin-top: 20px;
}

.news .items .item {
	float: left;
	width: 30%;
	margin-right: 3%;
	position: relative;
	border: 1px solid #eee;
	padding-bottom: 10px;
	height: 406px;
	overflow: hidden;
}

.news .items .item img {
	width: 100%;
	height: 200px;
	display: block;
}

.news .items .item h3 {
	color: #333;
	font-size: 18px;
	line-height: 26px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	padding: 5px 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.news .items .item p {
	color: #999999;
	line-height: 25px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	padding: 5px 10px;
	text-align: left;
	text-indent: 2em;
}
.news .items .item p:first-of-type{
	min-height:70px;
}


.news .items .item p a {
	border: 1px solid #ddd;
	padding: 8px 20px;
	border-radius: 6px;
	display: inline-block;
	color: #333;
	text-align: center;
	transition: 1s;
	box-sizing: border-box;
	text-indent: initial;
}

.news .items .item p a:hover {
	color: #d70d19;
	border: 1px solid #d70d19;
	box-sizing: border-box;
	/*animation: jiggle 2s ease-in;*/
}

@keyframes jiggle {
    48%, 62% {
        transform: scale(1.0, 1.0)
    }
    50% {
        transform: scale(1.1, 0.9)
    }
    56% {
        transform: scale(0.9, 1.1) translate(0, -5px)
    }
    59% {
        transform: scale(1.0, 1.0) translate(0, -3px)
    }
}



.text-center {
	text-align: center!important;
}