<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
<link rel="stylesheet" type="text/less" href="less/common.less" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.4/less.js"></script>
<!--尾部-->
<style type="text/css">
	*{
	margin:0;
	padding: 0;	
	}
	.clearfix{clear: both;}
</style>
<div class="box">
			<footer>
				<div class="foot" style="background: url(images/footbg.png);">
					<div class="w1200">
						<div class="items">							
							<div class="item" style="width: 150px;">
								<div class="title">关于捷航</div>
								<ul>
									<li>

										<a href="about.html?id=1"  target="_parent">公司简介</a>

									</li>

									<li>

										<a href="about.html?id=2"  target="_parent">企业文化</a>

									</li>

									<li>

										<a href="about.html?id=3"  target="_parent">企业环境</a>

									</li>
									<li>

										<a href="about.html?id=4"  target="_parent">联系我们</a>

									</li>

								</ul>

							</div>
							<div class="item" style="width: 600px;">
								<div class="title">联系我们</div>
								<ul>
									<li>

										联系电话：15301813081

									</li>

									<li>

										邮箱地址：jiehangedu@sina.com

									</li>
									<li>

										公司地址1：上海大虹桥商业圈
										<br>公司地址2：江苏无锡新吴区菱湖大道

									</li>

								</ul>

							</div>
							<div class="item" style="width:440px;">
								<div class="title">关注我们</div>
								<ul>
									<li style="float: left;margin-right:34px;text-align: center;">

										<img src="images/weibo.png" style="width: 100px;height: 100px;">
                                         <p style="text-align: center;">官方微博</p>
									</li>
									<li style="float: left;margin-right:34px;text-align: center;">

										<img src="images/gswx.jpg" style="width: 100px;height: 100px;">
                                         <p style="text-align: center;">官方微信</p>
									</li>
									<li style="float: left;text-align: center;">

										<img src="images/gzh.jpg" style="width: 100px;height: 100px;">
                                         <p style="text-align: center;">官方微信公众号</p>
									</li>
									<!--<li style="float: left">

										<img src="images/gzh.jpg" style="width: 100px;height: 100px;">
                                         <p style="text-align: center;">公众号</p>
									</li>-->

								</ul>
								
							</div>
							<div class="clearfix"></div>
						</div>
						<p class="bottom">上海捷航科技有限公司 版权所有 Copyright © 2018 All Rights Reserved 法律声明</p>
					</div>
				</div>
			</footer>
			</div>