<footer>
        <div class="footer w1200">
            <div class="list">
                <p>Resource Center </p>
                <ul>
                    <li><a href="/{{lang}}/index.html">Home</a></li>
                        <li><a href="/{{lang}}/about.html">About us</a> </li>
                    <li><a href="/{{lang}}/product.html">Products</a></li>
                    <li><a href="/{{lang}}/news.html">News</a> </li>
                    <li><a href="/{{lang}}/contact.html">Contact us</a></li>
                </ul>
            </div>	
            <div class="list">
                <p>Contact us </p>
                <ul>
                    <li><a href="javascript:void(0)"><img src="/img/s1.png"/>{{data.indexData.baseConfig.address}}</a></li>
                        <li><a href="javascript:void(0)"><img src="/img/s2.png"/>{{data.indexData.baseConfig.email}}</a> </li>
                    <li><a href="javascript:void(0)"><img src="/img/s3.png"/>{{data.indexData.baseConfig.mobile}}</a><img src="/img/s4.png"/><img src="/img/s5.png"/><img src="/img/s6.png"/></li>                 
                </ul>
            </div>	
            <div class="list">
                <p>Follow US</p>
                <ul>
                    <li><a  href="javascript:void(0)"><img src="/img/s7.png"/><img src="/img/s8.png"/><img src="/img/s9.png"/><img src="/img/s10.png"/></a></li>
                </ul>
            </div>		
        </div>	
    </footer>