<!--
 * @Description: 
 * @version: 
 * @Date: 2019-08-31 20:27:40
 * @LastEditors: yfye
 * @LastEditTime: 2020-09-17 21:29:46
 * @Author: yeyifu
 * @LastModifiedBy: yeyifu
 -->
<footer>
        <div class="footer w1200">
            <div class="list">
                <p>{{data.language.__('resourceCenter')}}</p>
                <ul>
                    <li><a href="/{{data.lang}}/index.html">{{data.language.__('home')}}</a></li>
                        <li><a href="/{{data.lang}}/about.html">{{data.language.__('about')}}</a> </li>
                    <li><a href="/{{data.lang}}/product.html">{{data.language.__('product')}}</a></li>
                    <li><a href="/{{data.lang}}/news.html">{{data.language.__('news')}}</a> </li>
                    <li><a href="/{{data.lang}}/contact.html">{{data.language.__('contact')}}</a></li>
                </ul>
            </div>	
            <div class="list">
                <p>{{data.language.__('contact')}}</p>
                <ul>
                    <li><a href="javascript:void(0)"><img src="/img/s1.png"/>{{data.indexData.baseConfig.address}}</a></li>
                        <li><a href="javascript:void(0)"><img src="/img/s2.png"/>{{data.indexData.baseConfig.email}}</a> </li>
                    <li><a href="javascript:void(0)"><img src="/img/s3.png"/>{{data.indexData.baseConfig.mobile}}</a></li>                 
                </ul>
                <ul class="erweima">
                        <li><img src="{{data.indexData.baseConfig.weChatPic}}">
                         <p>{{data.language.__('wechat')}}</p>
                        </li>
                        <li><img src="{{data.indexData.baseConfig.weiboPic}}">
                            <p>{{data.language.__('weibo')}}</p>
                         </li>
                         <li><img src="{{data.indexData.baseConfig.publicPic}}">
                            <p>{{data.language.__('PublicNumber')}}</p>
                         </li>
                         <li><img src="{{data.indexData.baseConfig.qqeweimaPic}}">
                            <p>{{data.language.__('QQ')}}</p>
                         </li>
                 </ul>
            </div>	
            <div class="list">
                <p>{{data.language.__('followUs')}}</p>
                <ul>
                    <li><a  href="https://www.facebook.com/CantonFair.zht" target="_blank"><img src="/img/s7.png"/></a><a href="https://twitter.com/cantonfair" target="_blank"><img src="/img/s8.png"/></a><a href="https://www.linkedin.com/company/cantonfair" target="_blank"><img src="/img/s9.png"/></a><!--<a href="" ><img src="/img/s10.png"/></a> --></li>
                </ul>
               
            </div>		
        </div>
        <p class="bottom" style="margin-top: 30px;text-align: center;color: #fff;font-size: 16px;"> {{data.indexData.baseConfig.webname}}  Copyright © 2018 All Rights Reserved   <a style="color:#fff;margin-left:40px;" href="http://icp.chinaz.com/info?q=zhendabrush.com" target="_blank">皖ICP备15019041号</a></p>		
    </footer>