<footer>
        <div class="footer w1200">
            <div class="list">
                <p>Resource Center </p>
                <ul>
                    <li><a href="/{{lang}}/index.html">Home</a></li>
                        <li><a href="/{{lang}}/about.html">About us</a> </li>
                    <li><a href="/{{lang}}/product.html">Products</a></li>
                    <li><a href="/{{lang}}/news.html">News</a> </li>
                    <li><a href="/{{lang}}/contact.html">Contact us</a></li>
                </ul>
            </div>	
            <div class="list">
                <p>Contact us </p>
                <ul>
                    <li><a href="javascript:void(0)"><img src="/img/s1.png"/>Shuanglin East Road,Yuantan Economic Development Zone,Qianshan City,Anhui Province,China 
                        ( Headquarter )
                        Chaoyang Building,The Intersection of Feixi Road and Wangjiang West Road,Shushan District,Hefei City,Anhui Province,China ( International Sales Department )</a></li>
                        <li><a href="javascript:void(0)"><img src="/img/s2.png"/>info@zhendabrush.com</a> </li>
                    <li><a href="javascript:void(0)"><img src="/img/s3.png"/>+86 183 1706 1079    0551 - 65181505    0556 - 8454666</a><img src="/img/s4.png"/><img src="/img/s5.png"/><img src="/img/s6.png"/></li>                 
                </ul>
            </div>	
            <div class="list">
                <p>Follow US</p>
                <ul>
                    <li><a  href="javascript:void(0)"><img src="/img/s7.png"/><img src="/img/s8.png"/><img src="/img/s9.png"/><img src="/img/s10.png"/></a></li>
                </ul>
            </div>		
        </div>	
    </footer>