<div id="myScrollspy">
    <ul class="nav nav-tabs nav-stacked" id="myNav">
        <li id="toparrow">
            <a href="javascript:void(0)"><img src="/images/toparrow.png"></a>
        </li>
        <li class="active">
            <a href="#section-1"><img src="/images/home.png"></a>
            <div class="home">Home</div>
        </li>
        <li>
            <a href="#section-2"><img src="/images/set.png"></a>
            <div class="home">set</div>
        </li>
        <li>
            <a href="#section-3"><img src="/images/gloal.png"></a>
            <div class="home">gloal</div>
        </li>
        <li>
            <a href="#section-4"><img src="/images/phone.png"></a>
            <div class="home">+86 18133626045</div>
        </li>
        <li>
            <a href="#section-5"><img src="/images/footarrow.png" style="margin-left: 1px;"></a>
        </li>
    </ul>
    <div class="line"></div>
</div>

<div id="section-1">
    <div class="top">
        <div class="wrap">
            <div class="welcome">
                Welcome to Anhui Zhenda Brush Industry Co., Ltd.!
            </div>
            <div class="turnlang">
                <img src="/img/gloal.png">
                <a class="lang">English</a>
                <a class="lang">Chinese</a>
            </div>
        </div>
    </div>

    <div class="logowrap">
        <div class="logoimg">
            <a href="#"><img src="/img/logo.png"></a>
            <div class="desc">
                <h1>Anhui Zhenda Brush Industry Co., Ltd.</h1>
                <p>an manufacturing and trading company,specialized in sanitation brush,industrial brush and civil brush,integrated with R＆D,production and sales.</p>
            </div>
        </div>
        <div class="contact">
            <img src="/img/phone.png">
            <div class="phone">
                <p>+86 181-3362-6045</p>
                <!--<p>+86 181-3362-6045</p>-->
            </div>
        </div>

    </div>

    <div class="head-v3">
        <div class="navigation-up">
            <div class="navigation-inner">
                <div class="navigation-v3">
                    <ul>
                        <li class="nav-up-selected-inpage" _t_nav="home">
                            <h2> <a href="/">Home</a> </h2>
                        </li>

                        <li class="" _t_nav="wechat">
                            <h2> <a href="#">About us</a> </h2>
                        </li>
                        <li class="nav-up-selected" _t_nav="product">
                            <h2> <a href="/product.html">Products</a> </h2>
                        </li>
                        <li class="" _t_nav="solution">
                            <h2> <a href="#">News</a> </h2>
                        </li>
                        <li class="" _t_nav="cooperate">
                            <h2> <a href="#">Contact us</a> </h2>
                        </li>
                        <!--<li _t_nav="support">
                        <h2> <a href="#">帮助与支持</a> </h2>
                    </li>-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="navigation-down">
            <div id="product" class="nav-down-menu menu-1" style="display: none;" _t_nav="product">
                <div class="navigation-down-inner">
                    <dl>
                        <dt><img src="/img/zhenda.png"></dt>
                        <dd>
                            <a hotrep="hp.header.product.compute1" href="#">云服务器</a>
                        </dd>
                        <dd>
                            <a hotrep="hp.header.product.compute2" href="#">弹性Web引擎</a>
                        </dd>
                        <dd>
                            <a hotrep="hp.header.product.compute3" href="#">负载均衡</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><img src="/img/zhenda.png"></dt>
                        <dd>
                            <a hotrep="hp.header.product.storage1" href="#">云数据库</a>
                        </dd>
                        <dd>
                            <a hotrep="hp.header.product.storage2" href="#">NoSQL高速存储</a>
                        </dd>
                        <dd>
                            <a hotrep="hp.header.product.storage4" href="#">对象存储服务(beta)</a>
                        </dd>
                        <dd>
                            <a hotrep="hp.header.product.storage3" href="#">CDN</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><img src="/img/zhenda.png"></dt>
                        <dd>
                            <a hotrep="hp.header.product.monitoring1" href="#">云监控</a>
                        </dd>
                        <dd>
                            <a hotrep="hp.header.product.monitoring2" href="#">云安全</a>
                        </dd>
                        <dd>
                            <a hotrep="hp.header.product.monitoring3" href="#">云拨测</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><img src="/img/zhenda.png"></dt>
                        <dd>
                            <a hotrep="hp.header.product.analysis1" href="#">腾讯云分析</a>
                        </dd>
                        <dd>
                            <a hotrep="hp.header.product.analysis2" href="#">关键因子</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><img src="/img/zhenda.png"></dt>
                        <dd>
                            <a hotrep="hp.header.product.devtool1" href="#">移动加速</a>
                        </dd>
                        <dd>
                            <a hotrep="hp.header.product.devtool2" href="#">应用加固</a>
                        </dd>
                        <dd>
                            <a hotrep="hp.header.product.devtool3" href="#">信鸽推送</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><img src="/img/zhenda.png"></dt>
                        <dd>
                            <a hotrep="hp.header.product.service1" href="#">安全认证服务</a>
                        </dd>
                        <dd>
                            <a hotrep="hp.header.product.service2" href="#">域名备案</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><img src="/img/zhenda.png"></dt>
                        <dd>
                            <a hotrep="hp.header.product.service1" href="#">安全认证服务</a>
                        </dd>
                        <dd>
                            <a hotrep="hp.header.product.service2" href="#">域名备案</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><img src="/img/zhenda.png"></dt>
                        <dd>
                            <a hotrep="hp.header.product.service1" href="#">安全认证服务</a>
                        </dd>
                        <dd>
                            <a hotrep="hp.header.product.service2" href="#">域名备案</a>
                        </dd>
                    </dl>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!--<div id="solution" class="nav-down-menu menu-3 menu-1" style="display: none;" _t_nav="solution">
            <div class="navigation-down-inner">
                <dl style="margin-left: 380px;">
                    <dd>
                        <a class="link" hotrep="hp.header.solution.1" href="#">微信</a>
                    </dd>
                </dl>
                <dl>
                    <dd>
                        <a class="link" hotrep="hp.header.solution.2" href="#">游戏</a>
                    </dd>
                </dl>
                <dl>
                    <dd>
                        <a class="link" hotrep="hp.header.solution.3" href="#">移动应用</a>
                    </dd>
                </dl>
            </div>
        </div>-->
            <!--<div id="support" class="nav-down-menu menu-3 menu-1" style="display: none;" _t_nav="support">
            <div class="navigation-down-inner">
                <dl style="margin-left: 610px;">
                    <dd>
                        <a class="link" hotrep="hp.header.support.1" href="#">资料库</a>
                    </dd>
                </dl>
                <dl>
                    <dd>
                        <a class="link" hotrep="hp.header.support.2" href="#">论坛</a>
                    </dd>
                </dl>
                <dl>
                    <dd>
                        <a class="link" hotrep="hp.header.support.3" href="#">亿元扶持</a>
                    </dd>
                </dl>
            </div>
        </div>-->
            <!--<div id="cooperate" class="nav-down-menu menu-3 menu-1" style="display: none;" _t_nav="cooperate">
            <div class="navigation-down-inner">
                <dl style="margin-left: 480px;">
                    <dd>
                        <a hotrep="hp.header.partner.1" href="#">代理商</a>
                    </dd>
                </dl>
                <dl>
                    <dd>
                        <a hotrep="hp.header.partner.2" href="#">微信服务商</a>
                    </dd>
                </dl>
                <dl>
                    <dd>
                        <a hotrep="hp.header.partner.3" href="#">创投机构</a>
                    </dd>
                </dl>
            </div>
        </div>-->
        </div>
    </div>

    <!--banner图开始-->
    <div id="banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background: url(/img/banner.png) no-repeat;">
                </div>
                <div class="swiper-slide" style="background: url(/img/banner.png) no-repeat;">
                </div>
                <div class="swiper-slide" style="background: url(/img/banner.png) no-repeat;">
                </div>
                <div class="swiper-slide" style="background: url(/img/banner.png) no-repeat;">
                </div>
                <div class="swiper-slide" style="background: url(/img/banner.png) no-repeat;">
                </div>
            </div>
            <div class="pageinat">
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
<!--banner结束-->